# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod"
    target-branch: main
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "weekly"
      day: "sunday"
    labels:
    - dependencies

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directories:
      - "**/*"
    open-pull-requests-limit: 15
    schedule:
      interval: "daily"
      time: "11:36"
      timezone: "Asia/Kolkata"
